.container-card{
    display: flex;
    margin-top: 10%;
    .card {
        box-shadow:(10px 8px 16px 0 rgba(0, 0, 0, 0));
        transition: 0.3s;
        width: 30%; 
        margin-bottom: 16px; // Espaçamento inferior
        background-color: #ffffff32; // Cor de fundo do card
        &:hover {
            box-shadow:(0 8px 16px 0 rgba(0,0,0,0.2));
        }
        p {
          margin: 15px;
        }
      }
      
}
  // Responsividade: ajusta os cards para 2 colunas em telas menores e 1 coluna em telas muito pequenas
  @media (max-width: 800px) {
    .card {
      width: 45%;
    }
  }
  
  @media (max-width: 600px) {
    .card {
      width: 100%;
    }
  }
  